
:root{
    --dark: #000000ff;
    --color-0: rgb(8, 8, 8);
    --color-0-op: rgba(0, 0, 0, 0.925);
    --color-1: #590090ff;
    --color-2: #6f438bff;
    --light: rgb(118, 114, 114);
}
html{
    font-size: 62.5%;
    color: var(--light);
    box-sizing: border-box;
    font-family: 'Saira Semi Condensed', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
header{
    width: 100%;
    background-color: var(--color-0);
    position: fixed;
    top: 0;
    display: flex;
    font-size: 2rem;
    height: 2em;
    z-index: 1;
}
nav{
    margin-right: 2.5rem;
    margin-left: auto;
    list-style: none
}
.nav-list{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    list-style: none;
    margin-top: auto;
    margin-right: 1rem;
    padding: 0;
    gap: 2rem;
}
.nav-item:hover{
    cursor: pointer;
}
#logo{
    margin-left: 2.5rem;
    height: 100%;
}
#hamburger{
    display: none;
    color: var(--light);
    margin-left: auto;
    margin-right: 2rem;
    font-size: 2.5rem;
    border: unset;
    background-color: unset;
}

/*  */
.container{
    max-width: 800px;
    width: 90%;
    font-size: 2.5rem;
    display: flex;
    margin: auto;
}
section{
    width: 100%;
}
/* MAIN */
main{
   display: flex;
   flex-direction: column;
   align-items: center;
}
#about-section{
    display: flex;
    position: relative;
    background-position: cover;
    background: url(img/bg-01.jpg) center fixed;
}
#about-me{
    padding-bottom: 1rem;
    margin: 17rem auto 15rem;
    background-color: var(--color-0-op);
    flex-wrap: wrap;
}
#about-header{
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 2rem;
}
#about-text{
    width: 60%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    margin: 0rem auto;
    flex-grow: 1;
}
#about-text p{
    margin: 0;
    margin-bottom: 2rem;
}
#about-img-wrapper{
    min-width: 175px;
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 1.5rem;
}
#about-img{
    margin: 0 auto;
    width: 100%;
    flex-grow: 0;
    aspect-ratio: 1;
    border-radius: 50%;
    filter: brightness(60%);
}

/* projects */
#projects-section{
    padding: 2rem 0;
    background-color: var(--color-0);
    font-size: 2.5rem;
}
#projects-header{
    text-align: center;
}
#projects-grid{
    display: flex;
    overflow: hidden;
    width: 900px;
    margin: auto;
}
#slider{
    width: 800px;
    display: flex;
    overflow: hidden;
    margin: auto;
    scroll-behavior: smooth;
}
.project-box{
    width: 400px;
    flex-shrink: 0;
    aspect-ratio: 1;
}
.button{
    flex-grow: 1;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover{
    color: yellow;
}
.button i{
    font-size: 4rem;
    transform: translateY(-100%);
}
/* Projects cards */
.project-box{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}
.project-box a{
    width: 100%;
}
.project-img{
    box-sizing: border-box;
    width: 100%;
    position: relative;
    aspect-ratio: 4/3;
}
.project-img img{
    box-shadow: 0px 0px 10px 0 #b9b9b9;
    border: 10px rgba(0, 0, 0, 0.05);
    border-style: groove;
    filter: brightness(80%);
    object-fit: cover;
}
.project-img p{
    opacity: 0;
}
.project-mask{
    box-sizing: border-box;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 98.5%;
    background: linear-gradient(rgba(0, 0, 0, 0.501), rgba(0, 0, 0, 0.871));

    opacity: 0;
    transition: 0.5s;
}
.project-img:hover > p, .project-img:hover > .project-mask{
    opacity: 1;
    transition: 0.5s;
}
.project-text{
    width: 80%;
    color: rgba(255, 255, 255, 0.838);
    bottom: 5%;
    position: absolute;
    margin-left: 3rem;
    font-size: 2rem;
}
.project-name p{
    font-size: 2.2rem;
}
/*  */
#quote-section{
    background: url(img/bg-01.jpg) center fixed;
    font-size: 2rem;
}
#quote-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: 15rem auto;
    background-color: var(--color-0-op);   
}
#quote{
    display: flex;
    margin: 5rem auto 1rem;
    width: 90%;
    min-height: 15rem;
}
#quote-title{
    margin-bottom: 0;
}
#quote-text{

    text-align: center;
    margin: 0 2rem 0;
}
.quote-icon{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 5rem;
    width: auto;
}
.quote-icon:first-of-type{
    text-align: end;
}
#author{
    width: 80%;
    margin: auto;
    margin-bottom: 2.5rem;
    text-align: end;
    font-size: 3rem;
}
#quote-button{
    width: 30%;
    min-width: 180px;
    height: 4rem;
    font-size: 2rem;
    padding-bottom: 1rem;
    margin: 2rem auto;
    background-color: var(--light);
    font-family: 'Saira Semi Condensed', sans-serif;
}
/* footer */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    font-size: 2rem;
    background-color: var(--dark);
}
footer a, footer i{
    padding-left: 0.75rem;
    margin-top: 0.5rem;
    color: var(--light);
}
footer p{
    font-size: 1.5rem;
}
footer i:hover{
    color: mediumpurple;
}

/* media */
@media (max-width: 900px){
    #projects-grid{
        width: 500px;
    }
}
@media (max-width: 500px){
    /* navbar */
    .nav-list{
        padding: 2rem 0 2rem;
        width: 100vw;
        height: auto;
        flex-direction: column;
        position: absolute;
        left: 100vw;
        top: 2em;
        z-index: 10;
        background-color: var(--dark);
        transition: 0.3s;
    }
    .nav-list--display{
        left: 0;
    }
    #hamburger{
        margin: 0;
        display: flex;
        padding-top: 0.5rem;
    }
    #hamburger:hover{
        cursor: pointer;
    }
    /* projects */
    #projects-grid{
        width: 320px;
        position: relative;
    }
    .project-box{
        width: 320px;
    }
    .button{
        position: absolute;
        bottom: 0;
    }
    .button i{
        transform: translateY(-70%);
    }
    .button:last-of-type{
        right: 0;
    }
    .container{
        font-size: 2rem;
    }
    #author{
        font-size: 2.5rem;
    }
    /* footer */
    footer{
        padding: 0 4rem;;
    }
}
    